@mixin sub-section-grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

@mixin sub-section-header{
    align-self: center;
    justify-self: center;
    padding: 20px;
    grid-column: 1/3;
    font-weight: 400;
    font-size: 50px;
}