.section-one-container {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 20px;
    background: linear-gradient(96.52deg, #3D06AA 62.28%, #1545F1 103.21%);
    width: 100%;
    height: fit-content;
    padding: 20px 30px;

    .section-content {
        .section-header {
            padding: 25px 0px;
            font-family: 'Port Lligat Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 120%;
            align-items: center;
            color: #FFFFFF;
        }

        .section-description {
            padding: 15px 0px;
            font-family: 'Port Lligat Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 120%;
            align-items: center;
            color: #FFFFFF;
        }

        .button-request-demo {
            width: 386px;
            height: 55px;
            background: #000000;
            border-radius: 3px;
            color: #FFFFFF;
            font-weight: 400;
            font-size: 18px;
            text-transform: uppercase;
        }

        .button-description {
            padding: 15px 0px;
            font-family: 'Port Lligat Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            align-items: center;
            color: #FFFFFF;
        }
    }

    .account-creation-from {
        width: 312px;
        height:fit-content;
        justify-self: center;
        align-self: center;
        background: rgba(65, 57, 207, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.5);

        .from-header {
            font-family: 'Port Lligat Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 120%;
            align-items: center;
            text-align: center;
            padding: 30px 25px;
            color: #FFFFFF;
        }

        .creation-form {
            padding: 0px 25px;

            .store-name,
            .email {
                font-family: 'LatoLatin';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                align-items: center;
                color: #FFFFFF;
                padding: 25px 0px 5px 0px;
                border-bottom: 0.5px solid rgba(255, 255, 255, 0.46);
                opacity: 0.5;
            }

            .creation-button {
                width: 230px;
                height: 50px;
                background: #000000;
                border-radius: 3px;
                color: #FFFFFF;
                margin: 20px;
            }
        }
    }
}